.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.loader > img {
  z-index: 2;
}

.underlay {
  width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: 0.6;
  position: absolute;
  z-index: 1;
}

.picture {
  width: 80%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.picture-wrapper {
  width: 95%;
  height: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.button-wrapper {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 5px;
}

.nav-btn-img {
  height: 50px;
  width: 50px;
}

.prev-btn {
  transform: rotate(180deg);
}

.nav-btn {
  height: 70px;
  width: 70px;
  padding: 10;
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px #cccccc;
  cursor: pointer;
}

.set-fav-btn {
  box-shadow: 0px 0px 10px #cccccc;
  cursor: pointer;
  padding: 10px;
  border: 0;
}

.description {
  width: 90%;
}
